/*Custom property*/
:root{
    --primario: #272626;
    --secundario: #ffc107;
    --primarioOscuro: #000000;
    --fuentePrimario: 'Arial',helvetica,sans-serif;
    --fuenteSecundario:'Poppins', sans-serif;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    background-color: var(--primario);
    font-family: var(--fuentePrimario);
}
.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}
.bg-amarillo{
    background-color: var(--secundario);
}
.sombra{
    box-shadow: 0px 6px 20px 0px rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 6px 20px 0px rgba(255,255,255,0.7);
    -moz-box-shadow: 0px 6px 20px 0px rgba(255,255,255,0.7);
    border-radius: 10px;
}
h1, h2{
    font-family: var(--fuenteSecundario);
    text-align: center;
    margin: 0;
}
h1{
   color: white;
   padding: 20px;
}
.contenedor-barra{
    background-color: var(--primarioOscuro);
}
/*Formulario*/
form{
    padding: 3rem;
    margin-top: 20px;
}
form legend{
    font-family: var(--fuenteSecundario);
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}
legend span{
    font-size: 1rem;
    margin-top: 1rem;
}
@media (min-width: 768px) {
    .campos{
        display: flex;
        justify-content: space-between;
    }  
    .campo{
        flex: 0 0 calc(33.3% - 1rem);
    }    
}
.campo{
    padding: .5rem 0;
}
.campo label{
    font-size: 1.2rem;
}
.campo input[type="text"],
.campo input[type="tel"]{
    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.enviar{
    display: flex;
    justify-content: flex-end;
}  

.campo input[type="submit"]{
    background-color: var(--primario);
    color: white;
    border: none;
    padding: 1rem 4rem;
    text-transform: uppercase;
    transition: background-color .5s ease-in-out;
    flex: 1;
}
.campo input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--primarioOscuro);
}
@media (min-width: 768px) {
    .campo input[type="submit"]{
        flex: 0 0 auto;
    }
}